

/* this star means everything on the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* changing the scroll behaivor lets the website smoothly navigate to the differnt parts of the website as apposed to it being choppy and ugily hopping around */
    scroll-behavior: smooth;
}


.container{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.navbar{
    /* Nav Bar Styles */
    /* height specifies the size of the content area */
    height: 5vh;
    background-color: #362f49;
    color: rgb(255, 255, 255);
    padding: 6px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
}

.nav-list{
    list-style: none;
}

.nav-list li {
    display: inline;
    margin: 0 10px;
}

.nav-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.landing{
    /* margin-top is the distance from the top of the page */
    margin-top: 0vh;
    height: 100vh;
    border: 1px solid black;
    /* This is how you add background images in css */
    background-image: url("https://wallpapers.com/images/featured/nasa-galaxy-pictures-70kbz3omj6qrevn2.jpg");
    background-size: cover;
    text-align: center;
    padding: 100PX 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.landing h1,
.landing{
    /* Text shadow is what appears behind the text, it helps the text pop out more */
    text-shadow: purple 1px 0 10px;
}
.landing h1{
    font-size: 4rem;
}

.landing p{
    margin-top: 20px;
    font-size: 1.5rem;
}
/* Main content styles */
.main-content{
    height: 100vh;
    padding: 40px;
    text-align: center;
}

.main-content h2{
    margin-top: 30px;
    color: white;
}
/* you can also use the # to specify an element */
#About{
    padding: 100px 0;
    color: aliceblue;
    background-color: rgb(33, 6, 59);
}


#Portfolio{
    color: white;
    background-color: black;
}

#Contact{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    background-color: #2e1c31;
}
/* Footer Styles */
.footer{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 32, 43);
    color: white;
    text-align: center;
    padding: 10px 0;
}